:root {
    /* Color palette--according to pre-existing art and current logo */
    --color-1: 244, 89, 5;
    --color-2: 251, 146, 36;
    --color-3: 251, 229, 85;
    --color-4: 42, 26, 94;
	--color-bg: 0, 0, 0;
}
