@import "colors.css";
@import "responsive.css";
@import "fonts.css";

:root {
	--hero-height: calc(100vw/16 * 9);
	--logo-padding: .8rem;
	--top-bar-height: 10vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'IBMPlexSans-Regular',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
}


a {
	text-decoration: none;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--top-bar-height) calc(var(--hero-height) - 5vh) 3fr;
	font-family: sans-serif;
	z-index: 0;
	top: calc(-1 * var(--top-bar-height));
	position: relative;
}

#top_bar {
	display: grid;
	grid-template-columns: 1fr 8fr;
	align-items: center;
	min-height: var(--top-bar-height);
	background-color: rgba(var(--color-4), 0.69);
	backdrop-filter: blur(1px);
	position: sticky;
	top: 0;
	z-index: 1;
}

#logo_box a {
	opacity: 1;
	margin-left: 1rem;
	box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5);
	background: border-box no-repeat center url('assets/logo.svg') rgba(var(--color-4), 1);
	display: block;
	height: 10vh;
	width: 20vw;
}

#top_bar > nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	justify-self: end;
}

#top_bar > nav > * {
	margin: 1vw;
}


.button {
	display: block;
	box-sizing: border-box;
	border-radius: .25rem;
	filter: drop-shadow(1px 1px 1px black);
	padding: .3vw .7vw;
	font-size: 3vw;
	line-height: 1.5;
	display: flex;
	align-items: center;
}

.button_primary {
	background-color: rgba(var(--color-3), 0.6);
	font-weight: 600;
}

.button_secondary {
	background-color: rgba(var(--color-3), 0.4);
}

.button a {
	color: rgb(var(--color-1));
}

/* hero w/ drone video in background */

#drone_video_box {
	max-width: 100vw;
	min-height: var(--hero-height);
}

#drone_video {
	z-index: -1;
	position: absolute;
	top: var(--top-bar-height);
	bottom: 0;
	left: 0;
}

#drone_video_overlay {
	z-index: 0;
	height: var(--hero-height);
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

#drone_video_overlay > header {
	background-color: rgba(var(--color-3), 0.4);
	padding: .2rem;
	backdrop-filter: blur(2px);
}

#drone_video_overlay > header h1 {
	font-family: 'IBMPlexSans-SemiBold',sans-serif;
	color: rgba(var(--color-1), 1);
	font-weight: 600;
	font-size: 3vw;
	text-shadow: 0 2px 12px rgb(0,0,0);
	text-align: center;
	display: block;
	width: 100%;
}

/* sensible margin to body content */

.content {
	padding: 1rem 1rem;
}

/* pricing table */

#pricing {
	display: grid;
	max-width: 100vw;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow-y: hidden;
	overflow-x: auto;
	overflow-inline: scroll;
	justify-content: space-between;
}

#pricing > .floorplan {
	background: rgb(255,255,255);
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));
	border: 1px solid transparent;
	margin: 1rem;
	padding: 1rem;
	display: grid;
	grid-template-rows: 1fr 3rem 3rem 1fr 2rem;
}

#pricing > .floorplan > .floorplan_price {
	padding: .5rem;
	font-size: 2rem;
}

.floorplan_image picture {
	max-width: 100%;
}

#pricing > .floorplan > header {
	text-align: center;
	padding: 1rem;
	/*background: rgba(var(--color-2), 0.2);*/
	background-color: #f7f7f7;
}

#pricing > .floorplan > .floorplan_description {
	padding: .5rem .2rem;
}

#pricing > .floorplan > .floorplan_description > ul {
	list-style: none;
}

#pricing > .floorplan > .floorplan_description i.fas {
	margin-right: 1rem;
}

/* sales pitch */

#pitch {
	display: grid;
	padding-top: 10rem;
	grid-row-gap: 5rem;
}

#pitch > * {
	/* leave a big gap between sections */
}

/* striped */
#pitch > section:nth-child(even) {
	background-color: rgba(var(--color-2), 0.1);
}

/* striped */
#pitch > section:nth-child(odd) {
	background-color: rgba(white, 1);
}


/* footer */

footer {
	padding: 20rem 2rem 0 2rem;
	min-height: 50rem;
	background-color: rgba(var(--color-4), 1);
	color: rgb(var(--color-1));
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-between;
	line-height: 1.8rem;
}

footer > * {
	flex-basis: auto;
	white-space: nowrap;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer h4 {
	text-transform: uppercase;
	letter-spacing: .025em;
	font-weight: 600;
}

footer #footer_logo {
	margin: 0 0 3rem 0;
	background: border-box no-repeat left url('assets/logo.svg');
	display: block;
	height: 6vh;
	width: auto;
	opacity: .9;
}

#footer_address > * {
	margin-bottom: 20px;
}

footer > nav > * {
	margin-bottom: 20px;
}

#copyright {
	color: rgba(var(--color-3), .7);
}

.brand_name {
	font-family: 'Kabel Black';
	font-size: 1rem;
}

