@import "colors.css";
@import "responsive.css";
@import "fonts.css";
@import "global.css";

:root {
	--hero-height: calc(100vw/16 * 9);
	--logo-padding: .8rem;
	--top-bar-height: 10vh;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--top-bar-height) calc(var(--hero-height) - 5vh) 3fr;
	font-family: sans-serif;
	z-index: 0;
	top: calc(-1 * var(--top-bar-height));
	position: relative;
}



/* hero w/ drone video in background */

#drone_video_box {
	max-width: 100vw;
	min-height: var(--hero-height);
}

#drone_video {
	z-index: -1;
	position: absolute;
	top: var(--top-bar-height);
	bottom: 0;
	left: 0;
}

#drone_video_overlay {
	z-index: 0;
	height: var(--hero-height);
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

#drone_video_overlay > header {
	background-color: rgba(var(--color-3), 0.4);
	padding: .2rem;
	backdrop-filter: blur(2px);
}

#drone_video_overlay > header h1 {
	font-family: 'IBMPlexSans-SemiBold',sans-serif;
	color: rgba(var(--color-1), 1);
	font-weight: 600;
	font-size: 3vw;
	text-shadow: 0 2px 12px rgb(0,0,0);
	text-align: center;
	display: block;
	width: 100%;
}

/* sensible margin to body content */

.content {
	padding: 1rem 1rem;
}

/* pricing table */

#pricing {
	display: grid;
	max-width: 100vw;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow-y: hidden;
	overflow-x: auto;
	overflow-inline: scroll;
	justify-content: space-between;
}

#pricing > .floorplan {
	background: rgb(255,255,255);
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));
	border: 1px solid transparent;
	margin: 1rem;
	padding: 1vh 1vw 3vh 1vw;
	display: grid;
	grid-template-rows: 1fr 3rem 3rem 1fr 2rem;
}

#pricing > .floorplan > .floorplan_price {
	padding: .5rem;
	font-size: 2rem;
}

.floorplan_image picture {
	max-width: 100%;
}

#pricing > .floorplan > header {
	text-align: center;
	padding: 1rem;
	/*background: rgba(var(--color-2), 0.2);*/
	background-color: #f7f7f7;
}

#pricing > .floorplan > .floorplan_description {
	padding: .5rem .2rem;
}

#pricing > .floorplan > .floorplan_description > ul {
	list-style: none;
}

#pricing > .floorplan > .floorplan_description i.fas {
	margin-right: 1rem;
}

#pricing .button_virtual_tour {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

/* sales pitch */

#pitch {
	display: grid;
	padding-top: 10rem;
	grid-row-gap: 5rem;
}

#pitch > * {
	/* leave a big gap between sections */
}

/* striped */
#pitch > section:nth-child(even) {
	background-color: rgba(var(--color-2), 0.1);
}

/* striped */
#pitch > section:nth-child(odd) {
	background-color: rgba(white, 1);
}


