@import "colors.css";
@import "responsive.css";
@import "fonts.css";
@import "global.css";

main {
	background-color: rgba(var(--color-4), 1);
	color: rgb(var(--color-2));
}

article {
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 1.5em;
}

@media (min-width: 575px) {
	article {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}

article > section {
	margin: 3rem 0;
}

article > section p {
	margin: 1rem;
}

article > section ul {
	list-style: none;
	padding: inherit;
}

article li {
	margin-left: 2rem;
}

p {
	margin: 1rem;
}

hr {
	margin: 2rem;
}

